.glass-card {
    -fx-background-color: rgba(255, 255, 255, 0.05); /* semi-transparent */
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1.5;
    -fx-padding: 10;
}

.glass-card {
    -fx-effect:gaussian-blur(8) dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0, 0, 5);
}
.text-field, .password-field {
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: rgba(255,255,255,0.3);
    -fx-border-width: 1.5;
    -fx-padding: 8 12;
    -fx-font-size: 15px;
}

.check-box {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
